<% if (typeof type != 'undefined') { %>
    <% for (var m of messages) { %>
        <div class=<%= type %>>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong><%= intro %></strong> <%= m %>
        </div>
    <% } %>
<% } %>