<div id="criarAlimento" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <form action="/admin/criarAlimento" method="POST" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <div class="container text-center vertical-center">
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="inputState">Nome do alimento</label>
                                <input type="text" class="form-control" name="nome" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="inputState">Capacidade</label>
                                <input type="text" class="form-control" name="capacidade" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="inputState">Observações</label>
                                <input type="text" class="form-control" name="observacoes" autocomplete="off"> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                
                                <label for="inputState">Imagem</label>
                                
                                <input type="file" name="imagem" accept="image/*" id="abc" required>
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="inputState">Validade</label>
                                <input type="checkbox" name="validade" class="largerCheckbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="btn-submit"> 
                <input type="submit" onclick='return btnCriar();' class="btn" value="Criar">
            </div>
        </form>
    </div>
</div>