<ul>
    <div class="dropdown">
        <button class="dropbtn">Menu Administrador</button>
        <div class="dropdown-content">
          <a href="/admin/gerirUtilizadores">Gerir Utilizadores</a>
          <a href="/admin/consultarStock">Consultar Stock</a>
          <a href="/admin/relatorio">Gerar Relatório</a>
        </div>
    </div>
</ul>