<ul>
  <div class="Home">
    <a href="/voluntarios/menuPrincipal" ><i class="fa fa-home"></i></a>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      Menu Principal
    </button>
    <div class="dropdown-content">
      <a href="/voluntarios/gerirStock">Gerir Stock</a>
      <a href="/voluntarios/gestaoConta">Gestão de Conta</a>
    </div>
</div>
</ul>