<ul>
  <div class="dropdown">
    <button class="dropbtn">
      <a href="/voluntarios/menuPrincipal" >Menu Principal</a>
    </button>
    <div class="dropdown-content">
      <a href="/voluntarios/gerirStock">Gerir Stock</a>
      <a href="/voluntarios/gestaoConta">Gestão de Conta</a>
    </div>
</div>
</ul>