<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
<head>
<!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/exitPage.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
	<title>Obrigado</title>
</head>
<body>
  
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Por favor deixa o espaço limpo e arrumado</h1>
                   
                </div>
                <h1 id="h1">Obrigado pela tua ajuda! </h1>
                <img src="/imagens/bgfinal1.jpg">
                <a href="/login" id="a"> OK </a>
            </div>
        </div>
    </div>
</body>


</html>