<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<form action="/inventario" method="GET">
  <button type="submit">Inventario</button>
</form>