<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.6">

<head>
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
  <link href="/css/menuPrincipal.css" rel="stylesheet" type="text/css">

  <title>Menu Administrador</title>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Menu Administrador</h3>
          <!-- linhas para teste-->
          <div class="d-flex justify-content-end social_icon">
            <span><img src="/imagens/apoioFratlogo.png" width="100" height="100"></i></span>
          </div>

        </div>

        <div class="card-body">
          <form action="/register" method="GET">
            <img src="/imagens/gerirStock.png" width="60" height="60"></i>
            <button type="submit" id="logoutbtn">Registar</button>
          </form>

          <form action="/inventario" method="GET">
            <img src="/imagens/consultarStock.png" width="60" height="60"></i>
            <button type="submit" id="logoutbtn">Consultar Stock</button>
          </form>

          <form action="/inventario" method="POST">
            <img src="/imagens/logout.png" width="60" height="60"></i>
            <button type="submit" id="logoutbtn">Gerar relatorio</button>
          </form>

          <form action="/menuPrincipal" method="POST">
            <img src="/imagens/logout.png" width="60" height="60"></i>
            <button type="submit" id="logoutbtn">Menu Principal</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>