<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.6">

<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/outros.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/apoioFratlogo.png" />
    <title>Outros</title>
</head>

<% if (typeof message != 'undefined') { %>
    <body onload="showMessage()">
<% } else { %>
    <body>
<% } %>
    <form action="/voluntarios/outros" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/outros.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Outros</h5>
                        <p> O que escrever na caixa de texto, ex: 250g, arrumado ao pé dos leites</p>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center vertical-center">
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="inputState">Nome do alimento</label>
                                    <input type="text" class="form-control" name="nome" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="inputState">Capacidade</label>
                                    <input type="text" class="form-control" name="capacidade" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="inputState">Data de validade</label><br>
                                    <input type="month" class="form-control" name="validade" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="inputZip">Quantidade</label>
                                    <input type="number" class="form-control" name="quantidade" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="inputState">Observações</label>
                                    <input type="text" class="form-control" name="observacoes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-submit"> 
            <input type="submit" onclick='return btnClick();' class="btn" name="add" value="Entrada de produto">
            <input type="submit" onclick='return btnClick();' class="btn" name="sub" value="Saída de produto">
            <a href="/voluntarios/inventario"><i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
    <script src="/scripts/modules.js" ></script>
</body>
</html>