<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.6">

<head>
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="/css/registarUser.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
  <title>Registar</title>
</head>

<body>

  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Registar</h3>
          <!-- linhas para teste-->
          <div class="d-flex justify-content-end social_icon">
            <span><img src="/imagens/apoioFratlogo.png" width="100" height="100"></i></span>
          </div>
        </div>
        <div class="card-body">
          <form action="/admin/registarUser" method="POST">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" id="nome" class="form-control" cname="nome" placeholder="Nome do utilizador"
                name="username" required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="text" id="email" class="form-control" cname="email" placeholder="Email" name="email"
                required>
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div class="input-group form-group radio">
              <label for="inputState">
                <input type="checkbox" name="admin" class="largerCheckbox"> Administrador
              </label>
            </div>

            <button type="submit" value="register" id="registerbtn" class="btn float-right login_btn">Registar</button>
            <a href="/admin/gerirUtilizadores" id="registerbtn" class="btn float-right login_btn"><i
                class="fa fa-arrow-left"></i> Voltar</a>
          </form>

        </div>
        <% if (typeof message !='undefined' ) { %>
          <% if (message==='sucesso' ) { %>
            <div class="alert alert-success">
              <strong>Success!</strong> Utilizador adicionado com sucesso.
            </div>
            <% } else { %>
              <div class="alert alert-danger">
                <strong>Erro!</strong>
                <%= message %>
              </div>
              <% } %>
                <% } %>
      </div>
    </div>
  </div>
</body>

</html>