<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.6">

<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/tabelaAlimentos.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
    <title>Tabela</title>
</head>

<body>
    <div class="container">

    <table class="table table-striped">
        <thread>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Capacidade
                </th>
            </tr>
        </thread>
        <tbody>
            <% for (var i=0; i < alimentoInventario.length; i +=1) { %>

                <tr>
                    <td>
                        <%= alimentoInventario[i].produto %>
                    </td>
                    <td>
                        <%= alimentoInventario[i].capacidade %>
                    </td>
                </tr>

                <% } %>
        </tbody>
    </table>
    </div>
</body>

concat( ( cast(YEAR (data) AS varchar)) (cast ( MONTH (data) AS varchar) ) )