@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('navbar.css');
@import url('alertas.css');

html, body {
  background-image: url('/images/bg10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif;
}

.form-row .card {
  text-align: center;
  width: 340px;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 25px;
  margin-top: 10px;
}
.card-img-top{
  border-radius: 25px; 
}

.form-row .card-body {  
  color: white;
  font-size: 20px;
}

.card-title{
  font-size: 30px;
}

.form-row .col-md{
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  width: 100%;
}

.btn{
  background-color: rgb(22, 145, 228);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  
}
.btn-submit div input{
  width: 156px;
}

.btn-submit a{
  width: 156px;
}

.btn-submit div{
  padding: 8px;

}

.btn:hover, .btn:active {
  background-color: blue;
}

#voltar:link, #voltar:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

#voltar:hover, #voltar:active {
  background-color: red;
}

body ul{
  position:unset;
}

form{
  margin-top: 3%;
}