@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-color: rgba(212, 255, 95, 0.568);
    
    font-family: 'Numans', sans-serif;
}

.inventario {
    height: 100%;
    margin-top: 20px;
    align-content: center;
}

.card {
    text-align: center;
    width: 340px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.5) !important;
   
}
    
.card-body {
    color: white;
}

.card-title{
    font-size: 30px;
}

.col-md{
    text-align: center;
}

