@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('/imagens/bg8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Numans', sans-serif;
}

.inventario {
    height: 100%;
    margin-top: 20px;
    align-content: center;
    
}

.card {
    text-align: center;
    width: 340px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.5) !important;
   
}
    
.card-body {
    color: white;
   
}

.card-title{
    font-size: 30px;
}

.col-sm{
    text-align: center;
    
}

.alert {
    padding: 20px;
    background-color: #62f436;
    color: black;
  }
  
  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: white;
  }

.card-img-top{
    border-radius: 20px;
   
  }

  
.btn-primary{
    border-radius: 20px;
    background-color: #c4c08b;
    border-color: #c4c08b;
  }

  .btn-primary:hover{
    border-color: #7a8b75;
    background-color: #7a8b75;
  }
  