@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('navbar.css');
@import url('cortina.css');

html, body {
  background-image: url('/images/bg10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif;
}

.inventario {
  height: 100%;
  margin-top: 100px;
}

.card-title{
  font-size: 30px;
  color: white;
}

.col-sm {
  position: inherit;
  text-align: center;
  position: inherit;
}

.card-img-top{
  border-radius: 30px;
  width: 617px;
  height: 370px;
}

.inventario .btn{
  border-radius: 30px;
  background-color: rgba(0,0,0,0.5) !important;
  border-color: rgba(0,0,0,0.5) !important;
}

.btn:hover{
  border-color: #7a8b75;
  background-color: #7a8b75;
}

.btn:focus{
  border-color: #7a8b75;
  background-color: #7a8b75;
}