@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('/images/bg2.jpg');
    background-position: center;
    background-size: 850px;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card{
    height: 470px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}
    
.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

#btn {
    color: black;
    background-color: #FFC312;
    width: 200px;
    border: 0px;
    border-radius:12px;
    margin: 10px;
    height: 50px;
    font-size: 20px;
}
    
#logoutbtn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

.card-body{
    height: 100%;
    text-align: center;
}