ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

@media screen and (max-width: 992px) {
  .dropbtn {
    background-color: #333;;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
  }
  .Home a {
    background-color: #333;;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
  }

  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    font-size: 30px;
    text-decoration: none;
    display: block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    text-decoration: none;
  }
}

@media screen and (min-width: 993px) {
  .dropbtn {
    background-color: #333;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .Home a {
    background-color: #333;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
    display: block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
  }
}

.dropbtn a {
  color: white;
  text-decoration: none;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #111;}

li {
  display: inline-block;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}


.Home a {
  color: white;
  text-decoration: none;
  display: block;
  
}
.Home{
  position: relative;
  display: inline-block;
}
.Home a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}