@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('navbar.css');
@import url('cortina.css');
@import url('alertasAdmin.css');

html,body{
  font-family: 'Numans', sans-serif;
}

.table-data {
  margin-top: 65px;
}

h2 {
  margin-left: 0.5%;
} 

table {
  border: 2px #111;
  border-style: solid;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #2b92f0;
  color: white;
}

.col-md {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

li span:hover{
  background-color: #111;
  color: white;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.prod{
  position: inherit;
  white-space: nowrap;
  background-color: white;
}

.cap{
  white-space: nowrap;
}